<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
        <div>
        <p>
          <a href="https://github.com/clarachristiansen/clarachristiansen.github.io/blob/main/scripts/explainer_notebook.ipynb" 
             class="text-primary" 
             target="_blank"
             style="display: inline-block; text-align: center;">
            View Explainer Notebook on GitHub
          </a>
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>
