---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

/* Custom Styles for the Home Page */
body.home {
    background-color: #0f0e0e; // Set background color for home page
    color: #333; // Set font color for home page
  }
  
  // Optional: Style for specific elements on the home page
  body.home .post-title {
    color: #eae9e9; // Change the color of post titles
  }
  
  body.home .post-subtitle {
    color: #c3c2c2; // Change the color of post subtitles
  }
  body.home .post-meta {
    color: #999999; // Change the color of post subtitles
  }
  